{% extends "Home/Base.html" %}
{% load static %}
{% block placeholder %}
	<section id="form"><!--form-->
		<div class="container">
            <div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>ĐĂNG KÝ THÀNH CÔNG!</h2>
                        <h3>Chào mừng thành viên {{ username }}</h3>
                        <p>Cảm ơn bạn đã đăng ký thành biên Winner Sport. Giờ đây bạn đã là một WinnerSport-er</p>
					</div><!--/sign up form-->
				</div>
        </div>
	</section><!--/form-->
{% endblock %}
